.container {
  background: var(--black);
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 64px 16px;

  .content {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    h2 {
      color: var(--primary);
      text-align: center;

      &::selection {
        color: var(--secondary);
        background: none;
      }
    }

    .form {
      width: 100%;
      max-width: 480px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;
      display: none;

      &::after {
        content: 'Formularz jeszcze nie działa. Skontaktuj się ze mną poprzez facebooka lub e-mail';
        position: absolute;
        left: -16px;
        top: -16px;
        width: 100%;
        height: 100%;
        background: rgba(255, 0, 0, 0.9);
        padding: 16px;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: var(--black);
        text-shadow: var(--shadow);
      }

      input,
      textarea {
        border: none;
        outline: none;
        padding: 8px 16px;
        font-size: 18px;
        resize: none;
      }

      button {
        border: none;
        outline: none;
        padding: 8px 16px;
        font-size: 18px;
        background: var(--primary);
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          background: var(--secondary);
          transform: translateY(-2px);
        }

        &:active {
          transform: none;
        }
      }
    }

    .other {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      a {
        color: white;
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
          color: white;
        }
      }
    }
  }
}
